*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f2f4;
    font-family: Human BBY Web,Roboto,Arial,sans-serif;
}
.navbar {
    background-color:#0046be;
}
.navbar>div{
    width: 80%;
    display: flex;
    grid-gap: 48px;
    display: grid;
    grid-template-columns: 68px 86px 10fr 7fr 75px;
    grid-template-rows: 1fr;
    position: relative;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
#nav-border{
    width: 100%;
    height: 1px;
    background-color:rgb(156, 156, 156) ;
    padding: 0;
}
.navbar>div>img{
    width: 65px;
}
.store-option, .cart-option, .menu-option{
    display: flex;
    justify-content: end;
    align-self: center;
    font-size: 21px;
    color: #fff;
}
.store-option:hover, .cart-option:hover, .menu-option:hover{
    cursor: pointer;
}
.fa-solid{
    color: #fff;
    padding-right: 8px;
    font-size: 18px;
    align-self: center;
}
.search-area{
    display: flex;
    flex-direction: row;
}
.search-area > button{
    border: none;
    background-color: #fff;
    color: #0046be;
    border-radius: 0 4px 4px 0;
}

.fa-magnifying-glass{
    color: #0046be;
    font-size: 18px;
    padding-left:14px;
    padding-right:14px;
}
.fa-magnifying-glass:hover{
    cursor: pointer;
}
#search-nav{
    width: 100%;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 10px 0 10px 10px;
    vertical-align: middle;
    color: #1d252c;
    outline: none;
}
#search-nav:hover{
    cursor:text;
}

.hero-section{
    display: flex;
    width: 80%;
    justify-content: center;
    align-self: center;
    margin: auto;
    /* border: 1px solid red; */
    gap: 25px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.banner{
    width: 50%;
}
.banner>img{
    width: 100%;
}
.part-two{
    width: 50%;
}
.top-categories{
    width: 100%;
    background-color: #fff;
    border: 1px solid rgb(202, 202, 202);
}
.top-categories > p{
    font-size: 17px;
    padding: 2%;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.top-products{
    display:flex;
    gap: 10px;
    padding: 2%;
    margin-top: -2%;
}
.top-products> div{
    display: flex;
    flex-direction: column;
    width: 21%;
    margin: auto;
}
.top-products>div>img{
    width: 100%;
}
#img2{
    margin: auto;
    width: 55%;
}
#img4{
    margin: auto;
    width: 65%;
}
#img3{
    width: 90%;
}

#img1+a{
    margin-top: 15%;
}

.top-products>div >a{
    text-decoration: none;
    color: #0046be;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
}
.top-categories>div>a:hover{
    text-decoration: underline;
}
.deals{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 2%;
}
.deals > div{
    width: 100%;
}
/* #deal1,#deal2{
    
} */
#deal1 > p{
    width: 40%;
    text-align: center;
    background-color: #0046be;
    color: white;
    font-size: 17px;
    padding: 3px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#deal1 > a{
    text-decoration: none;
    color: #0046be;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 7%;
}
#deal1 > a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#deal1, #deal2{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 3% 3% 1.5% 3%;
    border: 1px solid rgb(202, 202, 202);
}

#deal1 > img{
    width: 85%;
    padding:25% 10% 27% 10%;
}
#deal2 > p{
    color: black;
    font-size: 17px;
    padding: 3px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 6%;
}
#deal2 > img{
    width: 100%;
    margin-bottom: 3%;
}

#deal2 > a{
    text-decoration: none;
    color: #0046be;
    font-size: 15px;
    font-weight: 300;
}
#deal2 > a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#deal2>span{
    font-size: 15px;
}
.price{
    margin-top: 4%;
}

.back-white{
    background-color: #fff;
    padding: 3% 2% 1.5% 2%;
}
#title-name{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    
}
#title-hr{
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: rgb(216, 216, 216);
}
.most-items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,auto);
    width: 90%;
    gap: 20px;
    margin: auto;
    margin-top: 3%;
}
.most-items>div{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid rgb(202, 202, 202);
    padding: 20px;
}

.most-items>div>img{
    margin: auto;
    width: 50%;
    padding-bottom:6% ;
}

.most-items>div>a{
    text-decoration: none;
    color: #0046be;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}
.most-items>div>a:hover{
    cursor: pointer;
    text-decoration: underline;    
}
.views{
    width: 9.8%;
    padding: 14px 0 14px 0;
    border-bottom: 2px solid black;
}
.views>p{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#trust{
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 25px;
    width: 90%;
    margin-top: 2%;
}
#trust-two{
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(3,21%);
    grid-template-rows: repeat(1,auto);
    gap: 25px;
    width: 90%;
}
#trust-two>div{
    display: flex;
    background-color: #fff;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 1% 0 1% 0;
}
#trust>div{
    display: flex;
    background-color: #f0f2f4;
    justify-content: center;
    border: 1px solid rgb(202, 202, 202);
    margin: auto;
    width: 100%;
    padding: 1% 0 1% 0;
}
#trust-two>div>div>img{
    display: flex;
    width: 100%;
    align-self: center;

}
#trust-two>div > div:nth-child(1){
    width: 23%;
}

#trust>div>div+div{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
    line-height: 25px;
}
#trust-two>div>div+div{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
    line-height: 25px;
}
#trust h3{
    font-size: 20px;
    font-weight: 600;
}
#trust-two h3{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #55555a;
}
#trust p{
    font-size: 15px;
}
#trust a{
    text-decoration: none;
    color: #0046be;
    font-size: 15px;
    font-weight: 300;
}
#trust a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#trust-two p{
    text-decoration: none;
    color: #55555a;
    font-size: 13px;
    font-weight: 300;
}

/* #trust-two>div{
    width: 30%;
} */
.ecosystem{
    display: flex;
    width: 85%;
    margin: auto;
    gap: 40px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.ecosystem>div{
    width: 50%;
    margin: auto;
}
.ecosystem>div>img{
    width: 100%;
}

/* .bottom-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
} */
.sec-nav{
    background-color:#0046be;
}
.bottom-nav{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.bottom-nav>div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.bottom-nav>div>a{
    color: white;
    font-size:13px;
    text-decoration: none;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    align-self: center;
}
.bottom-nav>div>a:hover{
    text-decoration: underline;
}
.bottom-nav>div>div{
    width: 100%;
}

#help-banner{
    width: 90%;
    margin: auto;
}
#help-banner>img{
    margin: auto;
    width: 100%;
}

.footer-section{
    background-color: #f0f2f4;
    padding: 1%;
}
#processes{
    display: flex;
    margin: auto;
    width: 90%;
    gap: 40px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
#processes>div{
    display: flex;
    justify-content: center;
    width: 18%;
    margin: auto;
    text-align: center;
}
#processes>div>a>svg{
    display: flex;
    flex-direction: column;
    width: 20%;
    fill: rgb(112, 117, 125);
    margin: auto;
    padding-bottom: 15px;
}

#processes>div>a{
    color:#0046be;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
#processes>div>a:hover{
    text-decoration: underline;
    color: #002a72;
}

#footer-line{
    width: 95%;
    margin: auto;
    height: 1px;
    background-color: #c4c4c4;
}

#footer-menu-area{
    display: flex;
    /* width: 95%; */
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    justify-content: space-between;
}
.menu-part>div>p{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 3%;
}

.menu-part>div>ul>li>a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 32px;
    color: #0046be;
}
.menu-part>div>ul>li>a:hover{
    color: #002a72;
    text-decoration: underline;
}

.menu-part>div>ul{
    list-style: none;
}
.menu-form{
    display: flex;
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    gap: 20px;
}
/* .menu-form>div{
    margin: auto;
    width: 50%;
} */
.menu-part{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    width: 70%;
    /* border: 1px solid red; */

}
.form-part{
    width: 30%;
    background-color: #ffffff;
    /* border: 1px solid red; */
    padding: 1% 1% 2.5% 1%;
}
.form-part>a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    /* line-height: 32px; */
    color: #0046be;
}
.form-part>a:hover{
    color: #002a72;
    text-decoration: underline;
}
#form-line{
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #c4c4c4;
    margin-top: 2%;
    margin-bottom: 2%;
}
#mail-id{
    width: 66%;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    padding: 8px 2px 8px 12px;
    outline: none;
    /* margin-top: 2%; */
}
.fields>button{
    width: 25%;
    padding: 7px 12px 7px 12px;
    background-color: #0046be;
    color: #fff;
    height: 4%;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.4s;
    border: 1.5px solid #0046be;
}
.fields>button:hover{
    transition: 0.4s;
    background-color: #fff;
    color: #0046be;
    border: 1.5px solid #0046be;
    cursor: pointer;

}
.fields{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-bottom: 7%;
}
.form-part>h4{
    margin-top: 4%;
    margin-bottom: 3%;
}

.best-app{
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}
.best-app>svg{
    fill: #0046be;
    width: 9%;
    margin-right: 1%;
}
.best-app>div>p{
    font-size: 21px;
    font-weight: 600;
    color: #040c13;
}
.best-app>div>a{
    color: #0046be;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
}
.best-app>div>a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
}
.social-links>div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.social-links>svg{
    width: 6.5%;
    fill: #0046be;
}
.social-links>svg{
    cursor: pointer;
}
.feedback{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.feedback > div{
    display: flex;
    gap: 40px;
}
.feedback>p{
    font-size: 13px;
}
.feedback>div>a,#feedback-link{
    color: #0046be;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1px;
}
.feedback>div>a:hover,#feedback-link:hover{
    cursor: pointer;
    text-decoration: underline;
}







